.container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: black;
   color: white;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}