/* Sidebar.css */

.sidebar {
    width: 250px;
    min-width: 250px; /* Garante que não encolha */
    background-color: #1c1f24; /* Fundo da Sidebar */
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 20px 30px 20px;
    color: #e50914; /* Cor de destaque para o logo */
}

.admin-text {
    font-size: 0.8em;
    font-weight: normal;
    color: #aaa;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 12px 20px;
    color: #aaa;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

.nav-item a:hover {
    color: white;
    background-color: #282c34;
}

.nav-item.active {
    border-left: 5px solid #e50914;
    background-color: #282c34;
}

.nav-item.active a {
    color: white;
    font-weight: 600;
}

.footer-link {
    padding: 20px;
    color: #aaa;
    font-size: 0.9em;
    cursor: pointer;
    border-top: 1px solid #282c34;
    margin-top: 20px;
    text-align: center;
}

.arrow-icon {
    margin-right: 5px;
}